<!DOCTYPE html>
<html>
  <head>
    <title>Move & Groove</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-inverse bg-light font-weight-bold">
      <div class="container">
        <div class="navbar-header">
          <%= link_to 'Move & Groove', root_path, class: 'navbar-brand' %>
        </div>
        <div id="navbar">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Home', root_path %></li>
            <% if current_user %>
				      <li><%= link_to 'Activities', activities_path %></li>
			      <% end %>
          </ul>
          <ul class="nav navbar-nav pull-right">
            <% if user_signed_in? %>
              <%= current_user.first_name %> <%=current_user.last_name %>
              <% if current_user.isadmin? %>
                | Administrator
              <% end %>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to 'Your profile', edit_user_registration_path %></li>
                <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
              </ul>
            <% else %>
              <ul>
                <li><%= link_to 'Log In', new_user_session_path %></li>
                <li><%= link_to 'Sign Up', new_user_registration_path %></li>
              </ul>
            <% end %>
          </ul>
          </div>
        </div>
      </nav>

    <div class="container-fluid head-section vertical-center">
        <h1 class="d-block mx-auto">MOVE & GROOVE</h1>
    </div>

    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>
    </div>
    <%= yield :top_content %>

    <div class="container">
      <h1><%= yield :header %></h1>
      <%= yield %>
    </div>
    <footer class="container-fluid bg-light">
      <div class="text-center py-3">© 2020 Copyright:
        <h6 class="font-weight-bold">Bastien RATAT</h6>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
